* {
	box-sizing: border-box;
	transition: all 0.2s;
}
body,
html {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
hr {
	border: 0;
	margin: 0;
	border-top: 1px solid #000055;
}
#navBar {
	height: 80px;
	background-color: #4e97fd;
	color: #ffffff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 25px 0 25px;
}
#navBar #menuButton {
	cursor: pointer;
}
#navBar #menuButton:hover {
	color: #0000ff;
}
#mainContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	height: calc(100vh - 80px);
}
.sideMenu {
	width: 250px;
	height: 100%;
	background: rgb(148, 69, 255);
	background: -moz-linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	background: linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9445ff",endColorstr="#4e97fd",GradientType=1);
}
.sideMenu a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #ffffff;
	padding: 12px;
	border-bottom: 1px solid rgba(0, 0, 100, 0.2);
}
.sideMenu a:hover {
	background-color: #000055;
}
.sideMenu svg {
	margin-right: 10px;
}
.sideMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sideMenu ul li {
	display: block;
	font-weight: bold;
}
.sideMenu h1 {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
#contentContainer {
	height: 100%;
	flex-grow: 1;
	overflow-y: scroll;
	padding: 25px;
}

@media all and (max-width: 800px) {
	.sideMenu {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.sideMenu.closed {
		width: 0;
	}
}
