* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
}
#navBar {
	height: 80px;
	background-color: #4e97fd;
	color: #ffffff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 25px 0 25px;
}
#mainContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	height: calc(100vh - 80px);
}
#sideMenu {
	width: 250px;
	height: 100%;
	background: rgb(148, 69, 255);
	background: -moz-linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	background: linear-gradient(45deg, rgba(148, 69, 255, 1) 0%, rgba(78, 151, 253, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9445ff",endColorstr="#4e97fd",GradientType=1);
}
#contentContainer {
	height: 100%;
	flex-grow: 1;
	overflow-y: scroll;
	padding: 25px;
}
